<h1>Add a new event! </h1>

<form id="new-event-form" action="/my_calendar" method="post">
  <label for="eventname">Event name: </label>
  <input id="eventname" type="text" name="eventname" value="">
  <label for="eventinfo">Description: </label>
  <input id="eventinfo" type="text" name="eventinfo" value="">
  <br>
  <label for="startdate">Starts: </label>
  <input id="startdate" type="datetime" name="startdate" value="">
  <label for="enddate">Ends: </label>
  <input id="enddate" type="datetime" name="enddate" value="">
  <input type="submit" value="Submit">
</form>