<h1>Add a new event! </h1>
<body>
<form id="new-event-form" action="/events/new" method="post">
  <label for="eventname">Event name: </label>
  <input id="eventname" type="text" name="eventname" value="">
  <br>
  <label for="description">Description: </label>
  <input id="description" type="text" name="description" value="">
  <br>
  <label for="startdate">Starts: </label>
  <input id="startdate" type="datetime-local" name="startdate" value="">
  <br>
  <label for="enddate">Ends: </label>
  <input id="enddate" type="datetime-local" name="enddate" value="">
  <input type="submit" value="Submit">
  <br>
</form>
</body>