<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/calendar.css">
  <title>Planet Calendar</title>
</head>

<body onload="initCalendar()">


<div id="container">
  <div id="header">
    <div id="currentMonth"></div>
      <div>
        <button id="prevButton">Prev</button>
        <button id="nextButton">Next</button>
      </div>
  </div>

      <div id="days">
        <div>{{events}}</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
        <div>Sunday</div>
      </div>

<a href="events/new">
  <div id="calendar"></div>
</div>
</a>


    <script src="./calendar.js"></script>
</body>
</html>