ul {list-style-type: none;}
body {
  display: flexbox;
  font-family: Verdana, sans-serif;
  margin-left: 20px;

}

.month {
  padding: 70px 25px;
  max-width: 100%;
  background: #320d3e;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #ffd79d;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.days {
  margin: 0;
  padding: 10px 10px;
  background-color: #ffd79d;
  color:rgb(80, 120, 194);
}

.days li {
  display: inline-block;
  width: 13.6%;
  color: #320d3e;
  text-align: center;
}

.dates {
  padding: 10px 0;
  background: #320d3e;
  margin: 0;
}

.dates li {
  border:  #ffd79d;
  border-radius: 50%;
  border-style: solid;
  list-style-type: none;
  display: inline-block;
  width: 13.1%;
  height: 300%;
  line-height: 300%;
  text-align: center;
  margin-bottom: 5px;
  font-size:30px;
  color: #ffd79d;
  background-color: #58216a;
}

.dates li .hover {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}