<h1>Welcome to {{title}}!</h1>

<p>Please sign up below:</p>

<body>
<form id="new-user-form" action="/" method="post">
<input id="firstname" type="text" name="firstname" placeholder="Name:" /><br>
<input id="surname" type="text" name="surname" placeholder="Surname:" /><br>
  <input id="email" type="text" name="email" placeholder="E-Mail:" /><br>
  <input id="password" type="password" name="password" placeholder="Password:" /><br>
  <input id="nickname" type="text" name="nickname" placeholder="Nickname" /><br>
  <input id="dob" type="date" name="dob" placeholder="Date of Birth" /><br>
  <br><br>
  <input type="submit" value="submit" /><br>
</form>
</body> 
